{% extends "base.html" %}
{% block content %}
<div class="text-center cover-container d-flex w-100 p-3 mx-auto flex-column shadow-lg">

    <main class="px-3 pb-5">
      <h1>Recent Spotifies.</h1>
      <p class="lead">Recent Spotifies is a web application providing informations about recently played tracks, playlists and top artists, tracks and genres.</p>
      <div class='py-5'></div>
    </main>
  
    <footer class="mt-auto text-dark-50">
      <p></p>
    </footer>
    
  </div>
{% endblock %}